body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /*min-height: 1366px;*/
    min-width: 768px;
    background-color: #f1f1f1;
    font-family: 'Bubblegum Sans';
}
table{
    border-collapse:separate;
    border-spacing: 0 1px;
}
.nav {
    background-color: #17bdfc;
    overflow: hidden;
    border: 1px solid #ccc;
    /*background-color: #f1f1f1;*/
}

.login-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,3);
    background: #fff;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}

.sign-up-form{
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    /*padding-left: 60px;*/
    top: 50%;
    left: 50%;
    box-shadow: 0 0 3px 0 rgba(0,0,0,3);
    background: #fff;
    padding: 20px;
    margin: 5% auto;
    text-align: center;
    /*transform: translate(-50%, -50%);*/
}

.register-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,3);
    background: #fff;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}

.register-form h3{
    color: tomato;
    margin-bottom: 30px;

}


.form-control{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

.passClass{
    margin: 3px 0;
}
.btn-primary{
    color: #fff;
    background-color: #1c8abd;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-icon{
    width: 100px;
    border-radius: 180px;
    margin-top: -60px;

}

#gameButton{
    display: none;
    pointer-events: none;
}

#settingsButton{
    display: none;
}
#Welcome{
    display: block;
}

#loginButton{
    display: inherit;
}

#logoutButton{
    position: absolute;
    right: 10px;
    display: none;
}

/* Style the buttons that are used to open the tab content */
.nav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 1.5s;
    position: relative;
}

/* Change background color of buttons on hover */
.nav button:hover {
    background-color: rgba(133, 81, 255, 0.86);
    transition: 1s;
}

/* Create an active/current tablink class */
.nav button.active {
    background-color: rgba(133, 81, 255, 0.86);
}

/* Style the tab content */
.window_content {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    text-align: center;
    align-items: center;
}

form .error {
    color: #ff0000;
  }

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #27bcf4;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

.block:hover {
    background-color: #ddd;
    color: black;
  }

#about {
    color: black;
    text-transform: inherit;
    text-underline: none;
    text-decoration: none;
    padding: 8px 8px;
    text-align: center;
}

#aboutHeader{
    overflow: auto;
    text-align: center;
}

.about_header{
    overflow: auto;
    float: inherit;

}

.modal a.close-modal[class*="icon-"] {
    top: -10px;
    right: -10px;
    width: 40px;
    height: 20px;
    color: #fff;
    font-family: 'Bubblegum Sans';
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    background: #0821c4;
    border: 2px solid #fff;
    -webkit-border-radius:  26px;
    -moz-border-radius:     26px;
    -o-border-radius:       26px;
    -ms-border-radius:      26px;
    -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
}

#GameAndSettings{
    /*width: 80%;*/
    /*height: 80%;*/
    /*border: 1px solid black;*/
    overflow: auto; /* will contain if #first is longer than #second */
}
#Settings{
    width: 30%;
    float:left; /* add this */
    border-left: 3px solid black;
}

#game{
    overflow: auto;
}

#actual_game{
     /* add this */
    padding-left: 10px;
}
#gameValues{
    /* will contain if #first is longer than #second */
    width: 15%;
    float:left;
    margin-left: 0px;

}

.gameValuesLables{
    font : 1.1em "typewriter", sans-serif;
    background-color: rgb(99, 255, 37);
    border-radius: 10px;
    color: rgb(0, 73, 255);
    font-weight: bold;
}

.in-game{
    overflow: auto;
}

#canvas{
    margin-left: 20px;
    border: 1px solid black;
    background-color: white;
}

footer{
    position: absolute;
    overflow: auto;
}

footer h3{
    padding: 0;
    margin: 0;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
.resize {
    width: 400px;
    height: auto;
}

#popUpModelH3 {
    color: #1E90FF;
    font-size: 35px;
    font-family: 'Bubblegum Sans';
    text-align: center;
    font-weight: bold;
}
 .aboutP{
     /*font-family: 'Annie Use Your Telescope';*/
     font-family: 'Bubblegum Sans';
     font-size: 20px;
 }

 .abouth4{
     color: #4682B4;
     /*font-family: 'Annie Use Your Telescope';*/
     font-family: 'Bubblegum Sans';
     font-size: 20px;
     text-decoration: underline;
 }
 .abouth3{
     color: #4682B4;
     /*font-family: 'Annie Use Your Telescope';*/
     font-family: 'Bubblegum Sans';
     font-size: 25px;
     text-align: center;
 }

 .aboutImg{
     width: 40px;
     height: auto;
     /*float: bottom;*/
     justify-content: center;
     align-items: center;
 }